{% extends 'base.html' %}

{% block content %}

<h1>Add Post</h1>

<div class="container-fluid">
<form enctype="multipart/form-data" method = "POST">
    {% csrf_token %}
    {{ forms.as_p }}
    <button>Save</button>
</form>
</div>

{% endblock %}