{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Login
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static "css/bootstrap.css" %}"">
    <script src='main.js'></script>
    {% block css %}
    {% endblock %}
</head>
<body>
     <form align="right" action = "/Logout">
        <button>Logout</button>
    </form>

    {% block content %}
    {% endblock %}
    