{% extends 'base.html' %}

{% block content %}
<div class ="toast-header">
    <h1>Blog</h1>
</div>

<div class="container">
    <div class ="text-right">
      <a href ="addblog">Add Blog</a>
    </div>
</div>

<div class="row">
	{% for item in blogs %}
	<div class="col-md-3">
		<div class="card card-product-grid">
		    <a href="addblog" class="img-wrap"> <img src="{{ item.Images.url }}"> </a>
			<figcaption class="info-wrap">
				<div class="price mt-1"><p>Title:{{ item.Title }}</p></div>
				<div class="price mt-1"><p>Description:{{ item.Description }}</p></div>
			</figcaption>
		</div>
		<div class="row">
		<form action = "blogpost">
		<button type ="submit">ViewPost</button>
		</form>
		<form action = "addpost">
		<button type ="submit">Add Post</button>
		</form>
	</div>
	</div> 
	{% endfor %}
</div>

{% endblock %}