{% extends 'base.html' %}

{% block content %}
<div class ="toast-header">
    <h1>Blog Post</h1>
</div>

<tr>
    <td>
       <form action ="{% url "search" %}">
	   {% csrf_token %}
	   <label>Title</label>
	   <input type ="text" name="Title">
       <button>Search</button>
    </td>
    <td>
        <label>Content</label>
        <input type ="text" name="Content">
        <button>Search</button>
    </form>
</tr>
<br>
<div class="row">
	{% for item in blogpost %}
	<div class="col-md-3">
		<div class="card card-product-grid">
		    <img src="{{ item.Image.url }}">
			<figcaption class="info-wrap">
				<div class="price mt-1"><p>Title:{{ item.Title }}</p></div>
				<div class="price mt-1"><p>Content:{{ item.Content }}</p></div>
			</figcaption>
		</div>
		<div class="row">
		<form action = "editpost/{{ item.id }}">
		<button type ="submit">Edit</button>
		</form>
		<form action = "deletepost/{{ item.id}}">
		<button type ="submit">Delete</button>
		</form>
		<form action = "{% url 'comments' item.id %}">
			<button type ="submit">Comment</button>
		</form>
	</div>
	</div> 
	{% endfor %}
</div>

{% endblock %}