{% extends 'base.html' %}

{% block content %}
<h1>Add comments</h1>

<form method = "POST">
    {% csrf_token %}
    {{ forms.as_p }}
    <button>Save</button>
</form>

<form>
    <label for="Comments">Comments:</label>
    <textarea id="Comments" name="Comments" rows="4" cols="50">
        {% for comment in comments %}
        Comments: {{ comment.Comments }}
        Createdby: {{ comment.createdby }}
        {% endfor %}
    </textarea>
</form>
{% endblock %}